* {
    font-family: arial, sans-seri;
    background-color: rgb(31, 31, 31);
    color: white ;
    margin: auto;
}

.body_black{
    background-color: rgb(31, 31, 31);
}


.body_gris{
    background-color: #333
}

.southSide {
    color: rgb(69, 213, 37) ;
    font-family: brave, sans-seri;
    
}

.box_sect_div_p {
    text-align: justify;
    max-width: 1200px;
    width: 100%;
    padding: 45px 0px;
    margin: 0 auto;
    margin-top: 150;

    
    background: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.box_nav {
    text-align: justify;
    max-width: 1200px;
    width: 100%;
    padding: 450px 0px;
    margin: 0 auto;
    margin-top: 150;

    
    background: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.titulo {
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    color: white ;
    max-width: 1200px; 
    margin: auto; 
    padding: 20px; 
    
}

.subtitulo {
    font-size: 35px;
    text-align: center;
}

.cajaText {
    border: 1px solid rgb(31, 31, 31) ;
}

.containerImg {
    width: 75vw;
    max-width: 560px;
    max-height: 320px;
    margin: auto;
}

.containerImgGallery {
    width: 75vw;
    max-width: 560px;
    max-height: 520px;
    margin: auto;
}

.containerImgSs {
    width: 75vw;
    max-width: 560px;
    max-height: 760px;
    margin: auto;
}


.cajaImg {
    width: 100%;
    height: 100%;
}

.cajaImgLeft {
    width: 100%;
    height: 100%;
    text-align: left;
}

.cajaImgRight {
    width: 100%;
    height: 100%;
    text-align: right;
}


section div p {
    font-size: 19px;
    margin: 30px 0px;
    position:relative;
        left: 0px;
        overflow: hidden;
        background-color: rgb(55, 55, 55);
        padding: 10px;
        
}

 .toyotaLogo {
    background-color: #2f2f2f;
    width: 75vw;
    max-width: 560px;
    max-height: 320px;
    margin: auto;
}

.imagenLogo {
    background-color: rgb(31, 31, 31);
    width: 75vw;
    position: absolute;
            top: 0px;
            left: 10px;
    margin-right: 600px;
	float:none;
      width:100px;
}

header {
    font-size: 40px;
    background-color: #2f2f2f;
            color: #fff;
            text-align: center;
            padding: 1px;
    border-bottom: 1px solid rgb(255, 255, 255);
    
}

.header_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    
    
    
}
nav ,a{
    background-color: #2f2f2f;
    text-align: center;
    padding: 10px;
}
.imagenInstagram {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.linkInstagram {
    font-size: 25px;
    text-align: center;
    justify-content: flex-end;
}
 
.list{
    background-color: #333;
    padding: 10px;
}

nav,
    .offcanvas {
      background-color: rgb(31, 31, 31);
    }
    .navbar-toggler {
      border: none;
    }
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }

    @media (max-width: 768px) {
      .navbar-nav > li:hover {
        background-color: #0dcaf0;
      }
    }
