* {
  font-family: "arial", sans-serif;
  color: white;
  margin: auto;
}

@import '../scss/base/vars';
@import '../scss/base/maps';
@import '../scss/base/extend';
@import '../scss/componentes/navbar';

.titulo {
  @extend %titulo;
}

.toyotaLogo {
  @extend %toyotaLogo;
}

.body_black {
  background-image: linear-gradient(to bottom, rgb(34, 34, 34), #000);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

section div p, .box_nav {
  font-size: 19px;
  margin: 30px 0;
  left: 0;
  overflow: hidden;
  background-color: rgb(55, 55, 55);
  padding: 10px 25px;
}

.actualPag {
  color: $verde;
  font-family: brave, sans-serif;
}

.body_gris {
  background-color: #333;
}

.box_sect_div_p,
.box_nav {
  @extend %texto;
}

.containerImg,
.containerImgGallery,
.containerImgSs {
  @extend %imagen;
  @extend %imagenFlex;
}


nav a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

nav, a {
  text-align: center;
  padding: 10px;
}

.imagenInstagram {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.linkInstagram {
  font-size: 25px;
  text-align: center;
  justify-content: flex-end;
}

.list {
  background-color: #333;
  padding: 10px;
}

.footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 50px;
  bottom: 0;
  width: 100%;
}

nav, .offcanvas {
  background-color: rgb(27, 27, 27);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  .navbar-nav > li:hover {
    background-color: #0dcaf0;
  }
}