$font-family: 'arial', sans-serif;
$color-white: white;
$background-color-black: #000;
$background-color-gray: #333;
$color-green: rgb(69, 213, 37);
$font-family-brave: brave, sans-serif;
$max-width: 1200px;

* {
  font-family: $font-family;
  color: $color-white;
  margin: auto;
}

.body_black {
  background-image: linear-gradient(to bottom, rgb(34, 34, 34), $background-color-black);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.body_gris {
  background-color: $background-color-gray;
}

.actualPag {
  color: $color-green;
  font-family: $font-family-brave;
}

.box_sect_div_p,
.box_nav {
  text-align: justify;
  max-width: $max-width;
  width: 100%;
  padding: 45px 0;
  margin: 0 auto;
  margin-top: 150;

  display: flex;
  flex-direction: column;
  align-content: center;
}

.titulo {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
  color: $color-white;
  max-width: $max-width;
  margin: auto;
  padding: 20px;
}

.subtitulo {
  font-size: 35px;
  text-align: center;
}

.containerImg,
.containerImgGallery,
.containerImgSs {
  width: 75vw;
  max-width: 560px;
  max-height: 320px;
  margin: auto;
}

.cajaImg,
.cajaImgLeft,
.cajaImgRight {
  width: 100%;
  height: 100%;
}

section div p {
  font-size: 19px;
  margin: 30px 0;
  position: relative;
  left: 0;
  overflow: hidden;
  background-color: rgb(55, 55, 55);
  padding: 10px;
}

.toyotaLogo,
.imagenLogo {
  width: 75vw;
  max-width: 560px;
  max-height: 320px;
  margin: auto;
}

.imagenLogo {
  background-color: rgb(31, 31, 31);
  width: 75vw;
  position: absolute;
  top: 0;
  left: 10px;
  margin-right: 600px;
  float: none;
  width: 100px;
}

header {
  font-size: 40px;
  background-color: #2f2f2f;
  color: $color-white;
  text-align: center;
  padding: 1px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.header_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav a {
  font-size: 20px;
  color: $color-white;
  text-decoration: none;
}

nav, a {
  text-align: center;
  padding: 10px;
}

.imagenInstagram {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.linkInstagram {
  font-size: 25px;
  text-align: center;
  justify-content: flex-end;
}

.list {
  background-color: $background-color-gray;
  padding: 10px;
}

nav, .offcanvas {
  background-color: rgb(27, 27, 27);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  .navbar-nav > li:hover {
    background-color: #0dcaf0;
  }
}
