header {
    font-size: 40px;
    background-color: #2f2f2f;
    color: white;
    text-align: center;
    padding: 1px;
    border-bottom: 1px solid $blanco;
  }
  
  %header_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }